{% extends "layout.html" %}

{% block content %}

        <div id="wrapper">
            <img src="https://avatars.githubusercontent.com/u/71160623?s=400&u=0047dcffe6c027d48150f11945709c0c8e400655&v=4" alt="Thai Delgado">
            <h1>Thai Delgado</h1>
            <h2>Student - LauchBase</h2>
            <p>Desenvolvedora Full Stack em formação na <a href="https://rocketseat.com.br/" target="_blank">Rocketseat</a></p>
        </div>

        <div id="networks">
            <a href="https://github.com/ThaiDelgado" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/thaissadelgado/">LinkedIn</a>
            <a href="https://www.instagram.com/thaidelgado/">Instagram</a>
        </div>
    
{% endblock %}