{% extends "layout.html" %}

{% block content %}

        <div id="wrapper">
            <h1>Aulas</h1>
        </div>

        <section class="cards">

            <div class="card" id="q2zA4OOjx2g">
                <div class="card-img">
                    <img src="https://img.youtube.com/vi/q2zA4OOjx2g/maxresdefault.jpg" alt="">
                </div>

                <div class="card-content">
                    <p>Quase tudo sobre display no CSS | Mayk Brito</p>
                </div>

                <div class="card-info">
                    <p>26 min</p>
                    <p class="card-price">Free</p>
                </div>
            </div>

            <div class="card" id="-f5E5Lhocuo">
                <div class="card-img">
                    <img src="https://img.youtube.com/vi/-f5E5Lhocuo/maxresdefault.jpg" alt="">
                </div>
        
                <div class="card-content">
                    <p>10 Funções Array em Javascript | Mayk Brito</p>
                </div>
        
                <div class="card-info">
                    <p>26 min</p>
                    <p class="card-price">Free</p>
                </div>
            </div>

            <div class="card" id="klgtCYfpYyU">
                <div class="card-img">
                    <img src="https://img.youtube.com/vi/klgtCYfpYyU/maxresdefault.jpg" alt="">
                </div>
            
                <div class="card-content">
                    <p>5 Escopos no Javascript | Mayk Brito</p>
                </div>
            
                <div class="card-info">
                    <p>26 min</p>
                    <p class="card-price">Free</p>
                </div>
            </div>

            <div class="card" id="RF0nS-EM2Ag">
                <div class="card-img">
                    <img src="https://img.youtube.com/vi/RF0nS-EM2Ag/maxresdefault.jpg" alt="">
                </div>
        
                <div class="card-content">
                    <p>O console além do .log | Mayk Brito</p>
                </div>
        
                <div class="card-info">
                    <p>26 min</p>
                    <p class="card-price">Free</p>
                </div>
            </div>

            <div class="card" id="X6klpqubyBw">
                <div class="card-img">
                    <img src="https://img.youtube.com/vi/X6klpqubyBw/maxresdefault.jpg" alt="">
                </div>
        
                <div class="card-content">
                    <p>4 maneiras de criar objetos em JS | Mayk Brito</p>
                </div>
        
                <div class="card-info">
                    <p>26 min</p>
                    <p class="card-price">Free</p>
                </div>
            </div>

            <div class="card" id="q_ppL_sU6qU">
                <div class="card-img">
                <img src="https://img.youtube.com/vi/q_ppL_sU6qU/maxresdefault.jpg" alt="">
                </div>
        
                <div class="card-content">
                    <p>Como pensar em CSS | Mayk Brito</p>
                </div>
        
                <div class="card-info">
                    <p>26 min</p>
                    <p class="card-price">Free</p>
                </div>
            </div>
        </section>

        <div class="modal-overlay">
            <div class="modal">
                <div class="modal-content">
                    <iframe class="iframe" src="" frameborder="0"></iframe>
                </div>
                <a class="modal-close">
                    <span class="material-icons">close</span>
                </a>
            </div>

        </div>



        <script src="scripts.js"></script>

{% endblock %}